name: First Workflow
on:
  push:
    branches:
      - main

jobs:
  example-job:
    runs-on: ubuntu-latest

    steps:
      - name: Print welecome message
        run: echo "welcome to our first Github actions Workflow"

      - name: Chackout repository
        uses: actions/checkout@v6.0.0

      - name: List trepository files
        run: ls -la
