name: First Workflow
on:
  push:
    branches:
      - main

jobs:
  example-job:
    runs-on: ubuntu-latest

    steps:
      - name: Print welecome message
        run: echo "welcome to our first Github actions Workflow"
